<section id="main-faq">
  <div class="container py-5 pt-10">
    <h2 class="SectionTitle">Ответы на вопросы</h2>

    <div class="mt-5 lg:mt-16 xl:flex xl:gap-10">
      <ul>
        <li class="text-xs border-t lg:text-[1.375rem]">
          <details class="group peer">
            <summary
              class="flex items-center justify-between gap-4 py-3 cursor-pointer lg:py-4"
            >
              <p class="text-left">
                Что нужно сделать, чтобы получить подарок Зимняя Забава?
              </p>
              <div
                class="mr-2 transition-transform group-open:rotate-180 lg:[&_svg]:w-10 lg:[&_svg]:h-10"
              >
                {{>svg/FaqArrow}}
              </div>
            </summary>
          </details>
          <div
            class="grid grid-rows-[0fr] transition-[grid-template-rows,padding] duration-300 peer-open:grid-rows-[1fr] peer-open:pt-2 peer-open:pb-4"
          >
            <ul
              class="overflow-hidden leading-normal lg:text-[0.75em] max-w-[90%]"
            >
              <li>
                Чтобы принять участие в Акции и получить подарок Зимняя Забава
                необходимо совершить покупку с О'КАРТОЙ в магазинах О'КЕЙ и
                выполнить хотя бы одно из трех условий:
              </li>
              <ul class="py-2 pl-6 list-decimal">
                <li>
                  Совершайте покупки с О’КАРТОЙ в магазинах О’КЕЙ на сумму
                  единовременного чека от 2000 рублей*.
                </li>
                <li>
                  Совершайте покупки с О’КАРТОЙ в магазинах О’КЕЙ на сумму
                  единовременного чека от 2000 рублей* и товаров-партнеров на
                  сумму 250 рублей.
                </li>
                <li>
                  Совершайте покупки с О’КАРТОЙ в магазинах О’КЕЙ
                  товаров-партнеров на сумму единовременного чека от 250 рублей
                  и лотерейного билета СТОЛОТО.
                </li>
              </ul>
            </ul>
          </div>
        </li>
        <li class="text-xs border-t lg:text-[1.375rem]">
          <details class="group peer">
            <summary
              class="flex items-center justify-between gap-4 py-3 cursor-pointer lg:py-4"
            >
              <p class="text-left">Когда проводится акция?</p>
              <div
                class="mr-2 transition-transform group-open:rotate-180 lg:[&_svg]:w-10 lg:[&_svg]:h-10"
              >
                {{>svg/FaqArrow}}
              </div>
            </summary>
          </details>
          <div
            class="grid grid-rows-[0fr] transition-[grid-template-rows,padding] duration-300 peer-open:grid-rows-[1fr] peer-open:pt-2 peer-open:pb-4"
          >
            <ul
              class="overflow-hidden leading-normal lg:text-[0.75em] max-w-[90%]"
            >
              <ul class="pl-6 list-decimal">
                <li>
                  Общий срок проведения акции с 23 ноября 2023 года по 31 января
                  2024 года включительно.
                </li>
                <li>
                  Выдача Зимних Забав производится с 23 ноября 2023 года по 31
                  декабря 2024 года включительно.
                </li>
                <li>
                  Воспользоваться Зимней Забавой можно при наличии О’КАРТА в
                  магазинах О’КЕЙ в период с 1 января 2024 года по 31 января
                  2024 года.
                </li>
              </ul>
            </ul>
          </div>
        </li>
        <li class="text-xs border-t lg:text-[1.375rem]">
          <details class="group peer">
            <summary
              class="flex items-center justify-between gap-4 py-3 cursor-pointer lg:py-4"
            >
              <p class="text-left">Какие магазины принимают участие в Акции?</p>
              <div
                class="mr-2 transition-transform group-open:rotate-180 lg:[&_svg]:w-10 lg:[&_svg]:h-10"
              >
                {{>svg/FaqArrow}}
              </div>
            </summary>
          </details>
          <div
            class="grid grid-rows-[0fr] transition-[grid-template-rows,padding] duration-300 peer-open:grid-rows-[1fr] peer-open:pt-2 peer-open:pb-4"
          >
            <ul
              class="overflow-hidden leading-normal lg:text-[0.75em] max-w-[90%]"
            >
              <li>
                Интернет-магазин okeydostavka.ru и все розничные магазины
                торговой сети «О’КЕЙ» на территории РФ.
              </li>
            </ul>
          </div>
        </li>
        <li class="text-xs border-t lg:text-[1.375rem]">
          <details class="group peer">
            <summary
              class="flex items-center justify-between gap-4 py-3 cursor-pointer lg:py-4"
            >
              <p class="text-left">
                Где можно найти полные Правила / Условия Акции?
              </p>
              <div
                class="mr-2 transition-transform group-open:rotate-180 lg:[&_svg]:w-10 lg:[&_svg]:h-10"
              >
                {{>svg/FaqArrow}}
              </div>
            </summary>
          </details>
          <div
            class="grid grid-rows-[0fr] transition-[grid-template-rows,padding] duration-300 peer-open:grid-rows-[1fr] peer-open:pt-2 peer-open:pb-4"
          >
            <ul
              class="overflow-hidden leading-normal lg:text-[0.75em] max-w-[90%]"
            >
              <li>
                Правила Акции размещены на информационных стойках, стендах в
                магазинах O'КЕЙ, на сайте www.okmarket.ru и
                <a
                  class="underline hover:no-underline"
                  href="http://www.okeydostavka.ru"
                  >www.okeydostavka.ru</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="text-xs border-t lg:text-[1.375rem]">
          <details class="group peer">
            <summary
              class="flex items-center justify-between gap-4 py-3 cursor-pointer lg:py-4"
            >
              <p class="text-left">Кто является организатором Акции?</p>
              <div
                class="mr-2 transition-transform group-open:rotate-180 lg:[&_svg]:w-10 lg:[&_svg]:h-10"
              >
                {{>svg/FaqArrow}}
              </div>
            </summary>
          </details>
          <div
            class="grid grid-rows-[0fr] transition-[grid-template-rows,padding] duration-300 peer-open:grid-rows-[1fr] peer-open:pb-4 peer-open:pt-2"
          >
            <ul
              class="overflow-hidden leading-normal lg:text-[0.75em] max-w-[90%]"
            >
              <li>
                Общество с ограниченной ответственностью «О’КЕЙ».
                Местонахождение: 195213, Российская Федерация, г.
                Санкт-Петербург, Заневский пр., д. 65, корп. 1, лит. А,
                помещение 1. ИНН 7826087713, ОГРН 1027810304950
              </li>
            </ul>
          </div>
        </li>
        <li class="text-xs border-t lg:text-[1.375rem]">
          <details class="group peer">
            <summary
              class="flex items-center justify-between gap-4 py-3 cursor-pointer lg:py-4"
            >
              <p class="text-left">Какое количество призов я могу получить?</p>
              <div
                class="mr-2 transition-transform group-open:rotate-180 lg:[&_svg]:w-10 lg:[&_svg]:h-10"
              >
                {{>svg/FaqArrow}}
              </div>
            </summary>
          </details>
          <div
            class="grid grid-rows-[0fr] transition-[grid-template-rows,padding] duration-300 peer-open:grid-rows-[1fr] peer-open:pb-4 peer-open:pt-2"
          >
            <ul
              class="overflow-hidden leading-normal lg:text-[0.75em] max-w-[90%]"
            >
              <li>
                Количество подарков зависит от выполненных условий,
                установленных правилами акции. Максимальное количество подарков
                в одном чеке не превышает 2 единицы.
              </li>
            </ul>
          </div>
        </li>
        <li class="text-xs border-t lg:text-[1.375rem]">
          <details class="group peer">
            <summary
              class="flex items-center justify-between gap-4 py-3 cursor-pointer lg:py-4"
            >
              <p class="text-left">
                Сколько раз я могу воспользоваться подарком Зимняя Забава?
              </p>
              <div
                class="mr-2 transition-transform group-open:rotate-180 lg:[&_svg]:w-10 lg:[&_svg]:h-10"
              >
                {{>svg/FaqArrow}}
              </div>
            </summary>
          </details>
          <div
            class="grid grid-rows-[0fr] transition-[grid-template-rows,padding] duration-300 peer-open:grid-rows-[1fr] peer-open:pb-4 peer-open:pt-2"
          >
            <ul
              class="overflow-hidden leading-normal lg:text-[0.75em] max-w-[90%]"
            >
              <li>Каждым подарком можно воспользоваться только один раз.</li>
            </ul>
          </div>
        </li>
        <li class="text-xs border-t border-b lg:text-[1.375rem]">
          <details class="group peer">
            <summary
              class="flex items-center justify-between gap-4 py-3 cursor-pointer lg:py-4"
            >
              <p class="text-left">Кто может принять участия в акции?</p>
              <div
                class="mr-2 transition-transform group-open:rotate-180 lg:[&_svg]:w-10 lg:[&_svg]:h-10"
              >
                {{>svg/FaqArrow}}
              </div>
            </summary>
          </details>
          <div
            class="grid grid-rows-[0fr] transition-[grid-template-rows,padding] duration-300 peer-open:grid-rows-[1fr] peer-open:pb-4 peer-open:pt-2"
          >
            <ul
              class="overflow-hidden leading-normal lg:text-[0.75em] max-w-[90%]"
            >
              <li>
                К участию в Акции допускаются физические дееспособные лица,
                достигшие 18 лет, имеющие активированную карту покупателя
                О’КАРТА.
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <a href="#" class="hidden xl:block xl:shrink-0">
        <img src="assets/svg/scroll-up.svg" alt="" />
      </a>
    </div>
  </div>
</section>
