<section id="main-footer">
  <div
    class="container min-h-[8rem] pt-5 lg:min-h-[14rem] lg:pt-20 xl:min-h-[18rem]"
  >
    <img
      class="absolute left-0 w-full -bottom-4 lg:hidden"
      src="assets/images/mobile/footer.webp"
      alt=""
    />
    <img
      class="absolute bottom-0 left-0 hidden w-[90%] lg:block xl:w-full"
      src="assets/images/desktop/footer.webp"
      alt=""
    />
    <p
      class="text-[0.5rem] max-w-[68%] relative lg:text-[0.8125rem] xl:text-lg"
    >
      *Сумма чека указана после учета всех скидок и за исключением стоимости
      алкогольной продукции, табачных изделий, аксессуаров для курения,
      никотинсодержащей продукции, устройств для потребления нотинсодержащей
      продукции и подарочных карт.
    </p>

    <a href="#" class="absolute right-0 hidden top-16 lg:block xl:hidden">
      <img src="assets/svg/scroll-up.svg" alt="" />
    </a>
  </div>
</section>
