<section
  class="pt-5 lg:min-h-[56rem] flex xl:pt-12 xl:min-h-[78rem]"
  id="main-hero"
>
  <img
    class="absolute top-0 left-1/2 -translate-x-1/2 h-[30rem] w-full object-bottom lg:h-[38rem] xl:h-[62rem]"
    src="assets/svg/hero-bg.svg"
    alt=" bg-decor"
  />

  <div class="container lg:flex lg:flex-col">
    <div class="relative grow">
      <img
        class="absolute w-8 lg:w-14 top-2 right-4 lg:top-8 lg:left-[32rem] xl:left-[45rem]"
        src="assets/images/snowflake.webp"
        alt="snowflake"
      />

      <img
        class="absolute w-6 lg:w-10 top-28 left-5 lg:top-[12rem] xl:top-[22rem] xl:-left-12"
        src="assets/images/snowflake.webp"
        alt="snowflake"
      />

      <img
        class="w-64 mx-auto lg:w-[29rem] lg:mx-0 relative z-10 xl:w-[43.75rem]"
        src="assets/svg/title.svg"
        alt="title"
      />

      <p
        class="mt-3 font-bold text-center lg:text-[1.625rem] lg:text-left lg:mt-4 lg:ml-20 relative z-10 xl:text-[2rem] xl:mt-12 xl:ml-28"
      >
        23 ноября 2023 — 31 января 2024
      </p>

      <p
        class="hidden lg:inline-block text-[2rem] uppercase leading-9 bg-base rounded-full py-6 pr-6 pl-40 mt-7 absolute left-20 xl:text-[3rem] xl:leading-none xl:pl-[14rem] xl:pr-12 xl:py-8 xl:mt-20"
      >
        <span class="relative z-10">
          подарки <br />
          за покупки</span
        >
      </p>

      <img
        class="absolute w-64 -right-12 bottom-8 lg:w-[42rem] lg:-right-40 lg:-bottom-16 lg:rotate-[-20deg] xl:w-[74rem] xl:right-[-28rem] xl:-bottom-40"
        src="assets/svg/decor-shape.svg"
        alt="shape"
      />

      <!-- DESKTOP -->
      <div class="relative -top-[22rem] left-0 hidden lg:block">
        <img
          class="absolute max-w-none w-[44rem] top-[10rem] -right-20 xl:w-[66rem] xl:right-[-14rem]"
          src="assets/images/hero-woman-shadow.webp"
          alt="shadow"
        />
        <img
          class="absolute top-[23rem] -left-8 w-[58rem] xl:w-[80rem] xl:-left-20 xl:top-[27rem]"
          src="assets/images/desktop/matreshka.webp"
          alt="matreshka"
        />
        <div class="absolute top-40 -right-8 xl:-right-40 xl:top-16">
          <img
            class="w-[40rem] xl:w-[62rem]"
            src="assets/images/desktop/woman/hero-woman.webp"
            alt="woman"
          />
          <img
            class="absolute w-20 top-4 right-28 animate-pulse xl:w-32 xl:right-52 xl:top-8"
            src="assets/images/desktop/woman/snow-1.webp"
            alt="snow"
          />
          <img
            class="absolute w-32 right-16 bottom-36 animate-pulse xl:w-48 xl:right-24"
            src="assets/images/desktop/woman/snow-2.webp"
            alt="snow"
          />
        </div>
      </div>

      <!-- MOBILE -->
      <div class="relative -top-8 lg:hidden">
        <img
          class="absolute w-[20rem] max-w-none top-16"
          src="assets/images/hero-woman-shadow.webp"
          alt="shadow"
        />

        <img
          class="relative w-[22rem] rotate-[-5deg] max-w-none -left-12"
          src="assets/images/mobile/hero-woman.webp"
          alt="woman"
        />

        <img
          class="absolute bottom-0 right-0 w-40"
          src="assets/images/mobile/hero-matreshka.webp"
          alt="matreshka"
        />
      </div>
    </div>

    <nav class="hidden w-full my-20 text-base bg-white rounded-full lg:block">
      <ul class="flex justify-around">
        <li
          class="relative before:bg-[url(assets/svg/nav-hover.svg)] before:block before:absolute before:h-[11rem] before:w-[11rem] before:bg-contain before:-top-20 before:bg-no-repeat before:-z-10 z-10 before:opacity-0 before:transition-opacity hover:before:opacity-100 flex items-center group"
        >
          <a
            class="block py-4 text-2xl font-bold transition-colors group-hover:text-base-2"
            href="#main-promo"
            >Условия акции</a
          >
        </li>
        <li
          class="relative before:bg-[url(assets/svg/nav-hover.svg)] before:block before:absolute before:h-[11rem] before:w-[11rem] before:bg-contain before:-top-20 before:bg-no-repeat before:-z-10 z-10 before:opacity-0 before:transition-opacity hover:before:opacity-100 flex items-center group"
        >
          <a
            class="block py-2 text-2xl font-bold transition-colors group-hover:text-base-2"
            href="#main-partners"
            >Товары - партнёры</a
          >
        </li>
        <li
          class="relative before:bg-[url(assets/svg/nav-hover.svg)] before:block before:absolute before:h-[11rem] before:w-[11rem] before:bg-contain before:-top-20 before:bg-no-repeat before:-z-10 z-10 before:opacity-0 before:transition-opacity hover:before:opacity-100 flex items-center group"
        >
          <a
            class="block py-2 text-2xl font-bold transition-colors group-hover:text-base-2"
            href="#main-faq"
            >Ответы на вопросы</a
          >
        </li>
      </ul>
    </nav>
  </div>
</section>
