<section id="main-partners">
  <div class="container py-5 lg:py-10 xl:py-20">
    <h2 class="SectionTitle">Наши партнеры</h2>

    <div class="relative p-4 mt-5 bg-white/90 rounded-2xl lg:p-10 xl:p-20 lg:mt-16">
      <div class="swiper" data-selector="partners-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <ul
              class="grid grid-cols-2 gap-3 lg:grid-cols-3 lg:max-w-[45rem] lg:mx-auto xl:max-w-[62rem] xl:gap-5"
            >
              <li
                class="rounded-xl xl:rounded-3xl overflow-hidden [&_img]:h-full border border-neutral aspect-[1.8]"
              >
                <img src="assets/images/partners/logo-1.webp" alt="logo" />
              </li>
              <li
                class="rounded-xl xl:rounded-3xl overflow-hidden [&_img]:h-full border border-neutral aspect-[1.8]"
              >
                <img src="assets/images/partners/logo-2.webp" alt="logo" />
              </li>
              <li
                class="rounded-xl xl:rounded-3xl overflow-hidden [&_img]:h-full border border-neutral aspect-[1.8]"
              >
                <img src="assets/images/partners/logo-3.webp" alt="logo" />
              </li>
              <li
                class="rounded-xl xl:rounded-3xl overflow-hidden [&_img]:h-full border border-neutral aspect-[1.8]"
              >
                <img src="assets/images/partners/logo-4.webp" alt="logo" />
              </li>
              <li
                class="rounded-xl xl:rounded-3xl overflow-hidden [&_img]:h-full border border-neutral aspect-[1.8]"
              >
                <img src="assets/images/partners/logo-5.webp" alt="logo" />
              </li>
              <li
                class="rounded-xl xl:rounded-3xl overflow-hidden [&_img]:h-full border border-neutral aspect-[1.8]"
              >
                <img src="assets/images/partners/logo-6.webp" alt="logo" />
              </li>
              <li
                class="rounded-xl xl:rounded-3xl overflow-hidden [&_img]:h-full border border-neutral aspect-[1.8]"
              >
                <img src="assets/images/partners/logo-7.webp" alt="logo" />
              </li>
              <li
                class="rounded-xl xl:rounded-3xl overflow-hidden [&_img]:h-full border border-neutral aspect-[1.8]"
              >
                <img src="assets/images/partners/logo-8.webp" alt="logo" />
              </li>
              <li
                class="rounded-xl xl:rounded-3xl overflow-hidden [&_img]:h-full border border-neutral aspect-[1.8] hidden lg:block"
              >
                <img src="assets/images/partners/logo-9.webp" alt="logo" />
              </li>
            </ul>
          </div>
          <div class="swiper-slide lg:hidden">
            <ul
              class="grid grid-cols-2 gap-3 lg:grid-cols-3 lg:max-w-[45rem] lg:mx-auto h-full"
            >
              <li
                class="rounded-xl xl:rounded-3xl overflow-hidden [&_img]:h-full border border-neutral aspect-[1.8]"
              >
                <img src="assets/images/partners/logo-9.webp" alt="logo" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="absolute left-0 z-10 justify-between hidden w-full px-10 -translate-y-full lg:flex top-1/2"
      >
        <button
          data-selector="partners-slider-prev"
          class="transition-colors enabled:hover:text-gray-100 disabled:opacity-0"
        >
          {{>svg/ChangeSlide}}
        </button>
        <button
          data-selector="partners-slider-next"
          class="transition-colors rotate-180 enabled:hover:text-gray-100 disabled:opacity-0"
        >
          {{>svg/ChangeSlide}}
        </button>
      </div>

      <a
        href="https://www.okmarket.ru/zimniezabavy/"
        class="w-full mt-5 Button lg:w-[30rem] lg:mx-auto lg:mt-10 xl:h-[4.5rem] flex items-center xl:mt-20"
        >Посмотреть все товары-партнёры</a
      >
    </div>

    <img
      class="absolute w-8 -bottom-4 left-8 lg:w-16 lg:left-auto lg:right-36 lg:-bottom-12 xl:-right-40 xl:top-[20rem]"
      src="assets/images/snowflake.webp"
      alt=""
    />
    <img
      class="absolute w-6 -bottom-2 right-8 lg:w-11 lg:-bottom-16 xl:top-[40rem] xl:-right-20"
      src="assets/images/snowflake.webp"
      alt=""
    />
  </div>
</section>
