<section id="main-promo" class="pt-10 pb-5">
  <div class="container">
    <img
      class="-left-20 absolute w-80 rotate-[150deg] -bottom-20 lg:rotate-[05deg] lg:w-[54rem] lg:-left-[16rem] lg:-bottom-48 xl:-left-[28rem]"
      src="assets/svg/decor-shape.svg"
      alt="Decor"
    />
    <h2 class="SectionTitle">Как принять участие в акции?</h2>

    <div
      class="relative p-5 mt-6 text-base bg-white/90 rounded-2xl lg:mt-16 lg:px-16 lg:py-10 xl:px-28"
    >
      <img
        class="absolute w-20 -top-5 right-5 lg:w-32 lg:right-24 lg:-top-6 xl:w-40 xl:right-12"
        src="assets/images/okey-card.webp"
        alt="Okey card"
      />
      <div class="lg:flex lg:gap-10 lg:items-center xl:gap-28">
        <p
          class="font-bold text-[1.375rem] leading-7 lg:text-[2.6875rem] lg:leading-[1.1] shrink-0 xl:text-6xl xl:leading-tight"
        >
          Участвуйте <br class="lg:hidden" />
          в акции <br class="hidden lg:block" />
          с О’КАРТОЙ
        </p>
        <div
          class="flex flex-col gap-5 mt-3 lg:mt-0 lg:flex-col-reverse lg:items-start"
        >
          <p
            class="text-[0.6875rem] leading-4 lg:text-base lg:leading-tight xl:text-[1.125rem]"
          >
            Не забудьте проверить,
            <a
              class="underline hover:no-underline"
              href="https://www.okmarket.ru/customers/loyalty-card/#activate-card-form"
              >активирована ли ваша карта</a
            >
            Предъявляйте карту на кассе при покупке в О’КЕЙ
          </p>

          <a
            href="https://www.okmarket.ru/register/"
            class="w-full Button lg:w-[14rem] xl:w-[19rem] xl:h-16 xl:flex items-center"
          >
            У меня нет О’КАРТЫ
          </a>
        </div>
      </div>
    </div>

    <div
      class="relative p-6 mt-5 text-base lg:min-h-[28rem] lg:flex lg:px-16 lg:mt-12 xl:min-h-[36rem]"
    >
      <img
        class="absolute top-0 left-0 object-bottom w-full h-full rounded-t-2xl lg:rounded-t-3xl"
        src="assets/svg/stages.svg"
      />
      <!-- MOBILE -->
      <ul class="relative flex flex-col gap-5 lg:hidden">
        <li class="flex items-start gap-5">
          <img
            class="object-contain h-10"
            width="32"
            src="assets/svg/numbers/number-1.svg"
            alt="1"
          />
          <div>
            <p class="text-2xl font-bold leading-none">
              Совершайте покупки
            </p>
            <p class="mt-1 text-xs">
              От 2000₽* с О’КАРТОЙ в магазинах О’КЕЙ <br />
              или на сайте okeydostavka.ru с 23 ноября по 31 декабря 2023
            </p>
          </div>
        </li>
        <li class="flex items-start gap-5">
          <img
            class="object-contain h-10"
            width="32"
            src="assets/svg/numbers/number-2.svg"
            alt="2"
          />
          <div class="relative">
            <img
              class="w-14 absolute -bottom-5 -rotate-[20deg] -right-3"
              src="assets/images/loto.webp"
              alt="Loto"
            />
            <p class="text-2xl font-bold leading-none">
              Получайте Забаву
            </p>
            <p class="mt-1 text-xs">
              1 Забаву—за покупку от 2000₽*. <br />
              2 Забавы—за покупку от 2000₽*, включая товары-партнёры на
              250₽.
              <br />
              2 Забавы—за покупку товаров-партнёров на 250₽ и любого
              лотерейного билета от «СТОЛОТО»
            </p>
          </div>
        </li>
        <li class="flex items-start gap-5">
          <img
            class="object-contain h-10"
            width="32"
            src="assets/svg/numbers/number-3.svg"
            alt="3"
          />
          <div>
            <p class="text-2xl font-bold leading-none">
              Открывайте подарки
            </p>
            <p class="mt-1 text-xs">
              Открывайте Забавы — получайте скидки на следующие покупки и
              другие сюрпризы. <br />
              Купон можно использовать один раз с 1 по 31 января 2024
            </p>
          </div>
        </li>
      </ul>

      <!-- DESKTOP -->
      <div class="relative hidden w-full lg:block">
        <ul
          class="absolute top-0 flex items-start justify-between w-full pl-32 pr-16 xl:justify-start xl:gap-28"
        >
          <li
            class="pt-4 [&[data-state=active]]:opacity-100 opacity-0 transition-opacity"
            data-selector="tab-decor-1"
            data-state="active"
          >
            <img
              class="w-[9rem] xl:w-[11rem]"
              src="assets/svg/stages-arrow.svg"
              alt=""
            />
          </li>
          <li
            data-selector="tab-decor-2"
            class="pt-4 ml-10 [&[data-state=active]]:opacity-100 opacity-0 transition-opacity"
          >
            <img
              class="w-[9rem] xl:w-[11rem]"
              src="assets/svg/stages-arrow.svg"
              alt=""
            />
          </li>
          <li
            data-selector="tab-decor-3"
            class="[&[data-state=active]]:opacity-100 opacity-0 transition-opacity"
          >
            <img class="w-20" src="assets/svg/stages-gift.svg" alt="" />
          </li>
        </ul>

        <ul class="flex justify-between mt-20 xl:justify-start xl:gap-8 xl:mt-24">
          <li
            class="relative py-2 font-bold text-white rounded-full bg-base-2 w-[16rem] h-14 text-[1.375rem] pl-[4.75rem] pr-5 leading-none flex items-center cursor-pointer transition-colors [&[data-state=active]]:bg-base-4 xl:w-[18rem] xl:text-2xl xl:leading-none xl:h-16 xl:pl-24"
            data-selector="tab-button-1"
            data-state="active"
          >
            <img
              class="absolute h-20 bottom-2 left-5 xl:h-24"
              src="assets/svg/numbers/number-1.svg"
              alt=""
            />
            <p>Совершайте покупки</p>
          </li>
          <li
            class="relative py-2 font-bold text-white rounded-full bg-base-2 w-[16rem] h-14 text-[1.375rem] pl-[4.75rem] pr-5 leading-none flex items-center cursor-pointer transition-colors [&[data-state=active]]:bg-base-4 xl:w-[18rem] xl:text-2xl xl:leading-none xl:h-16 xl:pl-24"
            data-selector="tab-button-2"
          >
            <img
              class="absolute h-20 bottom-2 left-5 xl:h-24"
              src="assets/svg/numbers/number-2.svg"
              alt=""
            />
            <p>Получайте забаву на кассе</p>
          </li>
          <li
            class="relative py-2 font-bold text-white rounded-full bg-base-2 w-[16rem] h-14 text-[1.375rem] pl-[4.75rem] pr-5 leading-none flex items-center cursor-pointer transition-colors [&[data-state=active]]:bg-base-4 xl:w-[18rem] xl:text-2xl xl:leading-none xl:h-16 xl:pl-24"
            data-selector="tab-button-3"
          >
            <img
              class="absolute h-20 bottom-2 left-5 xl:h-24"
              src="assets/svg/numbers/number-3.svg"
              alt=""
            />
            <p>Открывайте подарки</p>
          </li>
        </ul>

        <ul class="mt-12 xl:mt-16">
          <li
            class="relative [&[data-state=active]]:animate-slideUp [&[data-state=active]]:block hidden"
            data-selector="tab-content-1"
            data-state="active"
          >
            <p class="font-bold w-[30rem] text-2xl xl:text-[2rem] xl:w-[40rem] xl:leading-tight">
              От 2000₽* с О’КАРТОЙ в магазинах О’КЕЙ или на сайте
              okeydostavka.ru <br />
              с 23 ноября по 31 декабря 2023
            </p>
            <div class="absolute -top-8 -right-16 xl:-top-20">
              <img
                class="w-[20rem] animate-bounce xl:w-[30rem]"
                src="assets/images/desktop/tabs/kart.webp"
                alt=""
              />
              <img
                class="absolute w-40 -right-4 top-1/4 animate-bounce animate-delay xl:w-60"
                src="assets/images/desktop/tabs/berd.webp"
                alt=""
              />
            </div>
          </li>
          <li
            class="relative [&[data-state=active]]:animate-slideUp [&[data-state=active]]:block hidden"
            data-selector="tab-content-2"

          >
            <ul class="flex gap-10 xl:gap-16">
              <li class="flex flex-col items-center gap-2 w-28 xl:w-40">
                <img
                class="object-contain object-bottom w-24 h-24 xl:w-32 xl:h-32"
                  src="assets/svg/zabava/zabava-1.svg"
                  alt=""
                />
                <p class="text-xl font-bold xl:text-[2rem] xl:leading-tight">за покупку
                  от 2000₽*</p>
              </li>
              <li class="flex flex-col items-center w-56 gap-2 xl:w-80">
                <img
                class="object-contain h-24 xl:h-32"
                  src="assets/svg/zabava/zabava-2.svg"
                  alt=""
                />
                <p class="text-xl font-bold xl:text-[2rem] xl:leading-tight">за покупку от 2000₽*,
                  включая товары-
                  партнёры на 250₽ </p>
              </li>
              <li class="flex flex-col items-center gap-2 w-60 xl:w-[21.5rem]">
                <img
                class="object-contain h-24 xl:h-32"
                  src="assets/svg/zabava/zabava-2.svg"
                  alt=""
                />
                <p class="text-xl font-bold xl:text-[2rem] xl:leading-tight">за покупку товаров-партнёров на 250₽
                  и любого лотерейного билета от «СТОЛОТО»</p>
              </li>
            </ul>

            <img class="absolute left-[30rem] w-20 xl:w-24 xl:left-[44rem]" src="assets/images/loto.webp" alt=""></img>
            <div class="absolute w-48 -right-14 bottom-28 xl:scale-150 xl:bottom-80">
              <img class="absolute animate-cards" src="assets/images/desktop/tabs/zabava/zabava-card-2.webp" alt=""></img>
              <img class="absolute" src="assets/images/desktop/tabs/zabava/zabava-card-1.webp" alt=""></img>
            </div>
          </li>
          <li
            class="relative [&[data-state=active]]:animate-slideUp [&[data-state=active]]:block hidden"
            data-selector="tab-content-3"

          >
          <p class="text-2xl font-bold xl:text-[2rem] xl:leading-tight w-[30rem] xl:w-[40rem]">
            Открывайте Забавы — получайте скидки <br>
            на следующие покупки и другие сюрпризы.
            Купон можно использовать один раз <br>
            с 1 по 31 января 2024</p>

            <div class="absolute w-[16rem] h-[32rem] -right-12 top-0 xl:w-[24rem] xl:h-[48rem] xl:-top-24">
              <img class="absolute animate-replace-1" src="assets/images/desktop/tabs/liflet-1.webp" alt="">
              <img class="absolute opacity-0 animate-replace-2" src="assets/images/desktop/tabs/liflet-2.webp" alt="">
            </div>
        </li>
        </ul>
      </div>
    </div>

    <div class="flex justify-center">
      <a
      target="_blank"
        class="relative flex items-center justify-center gap-1 mt-5 Link lg:text-[1.375rem] lg:mt-12"
        href="https://www.okmarket.ru/zimnie_zabavy/rules_23_11_23_01_01_24.pdf"
      >
        {{>svg/RulesIcon}}
        <span class="mt-1">Правила акции</span>
      </a>
    </div>
  </div>
</section>
